@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .vertical-center {
    height: calc(100vh - 64px);
  }
  .page-size-box {
    @apply flex h-9 w-9 min-w-[36px] cursor-pointer items-center justify-center rounded-lg border-2 text-sm shadow-sm hover:bg-gray-100;
  }
}

html,
body {
  height: 100%;
  overflow: auto;
}
